<div class="container">
 <div class="row py-4">
  <h1>会員情報</h1>
 </div>
 <div class="row">
  <h2>アカウント名：<%= @customer.name %>さん</h2>
  <% unless @customer.id == current_customer.id %>
   <% if @is_room == true %>
    <p class="customer-show-room"><a href="/rooms/<%= @room_id %>" class="btn btn-primary btn-lg">メッセージルームへ</a></p>
   <% else %>
    <%= form_for @room do |f| %>
     <%= fields_for @entry do |e|%>
      <% e.hidden_field :customer_id, value: @customer.id %>
     <% end %>
     <%= f.submit "メッセージを送る", class:"btn-primary btn-primary btn-lg customer-show-chat"%>
    <% end %>
   <% end %>
   <% end %>
 </div>
 <div class="row">
  <div class="col-sm-6">
   <h2>登録猫一覧</h2>
     <% @cats.each do |cat| %>
    <div>
     <% if cat.cat_image.attached? %>
      <%= image_tag cat.cat_image, size: "140x140" %>
     <% else %>
      <%= image_tag 'no_image', size: "140x140" %>
     <% end %>
     猫ちゃんの名前：<%= link_to cat_path(cat.id) do %><%= cat.name %><% end %>ちゃん
    </div>
     <% end %>
     <%= paginate @cats %>
  </div>

  <div class="col-sm-6">
   <h2>お気に入り猫たち</h2>
    <% @favorites.each do |favorite| %>
   <div>
    <% if favorite.cat.cat_image.attached? %>
     <%= image_tag favorite.cat.cat_image, size: "140x140" %>
    <% else %>
     <%= image_tag 'no_image', size: "140x140" %>
    <% end %>
    猫ちゃんの名前：<%= link_to cat_path(favorite.cat.id) do %><%= favorite.cat.name %><% end %>ちゃん
   </div>
    <% end %>
    <%= paginate @favorites %>
  </div>
 </div>
</div>