<h1>保護猫一覧</h1>
  <% @cats.each do |cat| %>
  <div>
    <% if cat.cat_image.attached? %>
     <%= image_tag cat.cat_image, size: "100x100" %>
    <% else %>
     <%= image_tag 'no_image', size: "100x100" %>
    <% end %></br>
    猫ちゃんの名前：<%= link_to cat_path(cat.id) do %><%= cat.name %><% end %>ちゃん</br>
    投稿者：<%= link_to customer_path(@customer.id) do %><%= cat.customer.name %><% end %>さん</br>
    コメント件数:<%= @cat.comments.count %></br>
    いいねの数:<%= @cat.favorites.count %></br>
  </div>
<% end %>
    <%= paginate @cats %>