<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがCustomerの時 -->
  <% if @range == "Customer" %>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td>ユーザー名：<%= customer.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがCustomerではない時(= 検索対象モデルがCatの時) -->
    <tbody>
      <% @cats.each do |cat| %>
        <tr>
          <td><% if cat.cat_image.attached? %>
               <%= image_tag cat.cat_image, size: "100x100" %>
              <% else %>
               <%= image_tag 'no_image', size: "100x100" %>
              <% end %></td>
          <td>名前：<%= cat.name %></td>
          <td>投稿者：<%= cat.customer.name %></td>
          <td>柄：<%= cat.pattern %></td>
          <td>説明：<%= cat.introduction %></td>
          <td>年齢：<%= cat.age %></td>
          <td>性別：<%= cat.gender %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>