<div class="container">
 <div class="row py-4">
  <h1>会員情報</h1>
 </div>
 <div class="row-md-4">
  <h2>アカウント名：<%= @customer.name %></h2>
 </div>
 <div class="row">
  <h2>登録猫一覧</h2>
 </div>
 <div class="row">
   <% @cats.each do |cat| %>
    <div class="col-6">
     <div>
      <% if cat.cat_image.attached? %>
       <%= image_tag cat.cat_image, size: "140x140" %>
      <% else %>
       <%= image_tag 'no_image', size: "140x140" %>
      <% end %>
       猫ちゃんの名前：<%= link_to admin_cat_path(cat.id) do %><%= cat.name %><% end %>ちゃん
     </div>
    </div>
   <% end %>
 </div>
  <%= paginate @cats %>
</div>