<!DOCTYPE html>
<html lang="ja">
  <head>
   <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />

    <title>RaviCat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body class="d-flex flex-column vh-100">
   <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container">
      <a class="navbar-brand p-3" href="/"><%= "Ravi.cat" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
    <% if current_customer == nil && current_admin == nil %>
     <%= render 'layouts/header_visitor' %>
    <% elsif current_customer == nil && current_admin.present? %>
     <%= render 'layouts/header_admin' %>
    <% else current_customer == true && current_admin == nil %>
     <%= render 'layouts/header_customer' %>
    <% end %>
     <%= render 'layouts/serach' %>
      </ul>
     </div>
    </div>
   </nav>
   </header>
   <main class="mb-auto">
    <%= yield %>
   </main>
  </body>
</html>
